In [1]:
import pandas as pd
import numpy as np

In [2]:
proj_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\NBA Fantasy league project\NBA data\player_proj_df.csv")
proj_df.head()

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,203932,1.994430,0.710601,5.126943,3.961834,1.402502,13.509175,5.956650,3.608475,2.800268,...,2.4,3.2,0.731,1.7,5.7,3.7,2.1,0.7,0.7,16.0
1,201143,3.247733,1.025916,4.582944,3.079483,1.127251,10.359166,4.860939,1.927194,1.470858,...,1.1,1.4,0.821,1.8,5.0,4.2,1.5,0.9,1.3,13.6
2,202329,1.754433,0.446132,4.286956,3.877699,1.407756,8.190519,3.574506,1.679742,1.238291,...,1.9,2.1,0.867,1.4,6.1,1.3,0.9,0.8,0.4,9.4
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
4,203518,0.988705,0.112903,1.361302,2.800757,1.065089,4.592593,1.876591,0.839953,0.668980,...,0.4,0.4,0.923,0.2,1.4,0.6,0.5,0.5,0.2,5.3

In [3]:
proj_df['squared_error'] = (proj_df['proj_pts'] - proj_df['pts'])**(2)
mse = proj_df['squared_error'].mean()
rmse = mse ** (1/2)
rmse

3.302971088916984

In [4]:
proj_df['squared_error'] = (proj_df['proj_ast'] - proj_df['ast'])**(2)
mse = proj_df['squared_error'].mean()
rmse = mse ** (1/2)
rmse

0.9944342105776937

In [5]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [6]:
player_proj = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\NBA Fantasy league project\NBA data\player_proj_df.csv")
player_info = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\NBA Fantasy league project\NBA data\player_info.csv")

In [7]:
player_proj.sample(5)

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
273,200757,1.707022,0.389412,3.184983,3.406577,1.174328,8.046145,3.414252,1.755595,1.348846,...,0.3,0.4,0.636,0.2,2.3,0.5,0.5,0.9,0.1,3.8
307,203897,2.437654,0.273753,2.460736,3.823189,1.341064,11.186628,4.747361,2.637023,2.147932,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
71,2734,2.229754,0.137868,1.523545,2.539266,0.950199,6.281986,2.682905,1.707343,1.395372,...,1.5,2.0,0.761,0.2,1.5,1.8,0.8,0.5,0.2,6.3
256,1626155,1.110361,0.293432,2.786192,1.569277,0.625571,5.534032,2.522169,1.298232,1.027716,...,0.6,1.0,0.609,1.1,2.0,1.0,0.5,0.8,0.1,6.1

In [8]:
df_real = player_proj.loc[:, ['pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','stl','tov', 'blk']]
df_proj = player_proj.loc[:, ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_stl','proj_tov', 'proj_blk']]
df_real.sample(5)

,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
93,6.8,22.0,2.8,6.1,0.2,0.7,1.0,1.5,0.5,4.0,3.9,0.5,1.6,0.2
84,11.9,27.6,4.8,10.0,1.4,3.3,0.8,1.1,0.7,1.7,1.9,0.8,1.1,0.2
143,13.7,30.2,4.9,9.8,2.4,5.1,1.4,1.8,0.7,3.1,2.4,0.5,1.6,0.2
135,12.3,27.2,4.2,8.9,1.4,4.2,2.4,2.7,0.7,3.3,1.8,0.6,1.3,0.5
139,4.2,15.6,1.5,3.7,0.7,1.8,0.4,0.7,0.3,1.3,2.6,0.7,0.9,0.1

In [9]:
df_proj.sample(5)

,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk
289,9.096136,25.151559,3.495926,7.276552,0.889086,2.535236,1.237030,1.684787,1.229108,2.838808,1.496890,1.084515,1.103048,0.444797
197,11.555217,29.237117,4.353269,9.804916,0.880201,2.565556,1.983821,2.524006,1.279777,3.664295,1.938834,0.728942,1.276254,0.397343
219,15.071217,34.291358,5.621584,12.286644,0.890847,2.744076,2.898615,3.982644,1.797207,6.292501,3.513361,1.223584,2.242545,1.038114
268,16.280923,32.019494,6.519045,13.985635,0.397860,1.271426,2.826393,3.589037,1.608772,4.251682,1.949678,0.728319,1.658364,0.576742
214,6.437410,16.152224,2.639276,5.711612,0.109337,0.292400,1.085985,1.417248,0.922695,2.100278,0.748916,0.538629,0.775745,0.296666

In [10]:
se = mean_squared_error(df_real, df_proj)
mse = np.mean(se)
rmse = np.sqrt(mse)
confidence = rmse

In [11]:
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

98.03 percent confidence in projected 2018-19 per game stats

In [12]:
se = mean_squared_error(df_real, df_proj)
mse = np.mean(se)
rmse = np.sqrt(mse)
confidence = rmse
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

98.03 percent confidence in projected 2018-19 per game stats

In [16]:
df_real_stats = pd.concat([player_info, df_real], axis=1)
df_real_stats = df_real_stats.dropna()
df_real_stats.sample(5)

,player_id,player_name,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
45,85,Brent Price,1996-97,4.0,12.4,1.6,3.0,0.0,0.1,0.8,1.2,1.3,2.3,0.6,0.2,0.6,0.1
2,1425,Aaron Williams,1996-97,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4
204,147,Jalen Rose,1996-97,7.0,10.7,2.9,5.9,0.1,0.7,1.1,1.5,0.5,1.8,1.0,0.3,1.0,0.4
151,1023,Emanual Davis,1996-97,16.8,27.3,6.5,14.6,1.8,5.5,2.0,2.4,1.0,2.3,2.4,0.7,1.7,0.2
245,700,Keith Tower,1996-97,13.3,34.4,4.5,10.3,2.4,6.4,1.9,2.5,0.8,4.7,1.3,2.1,1.3,1.3

In [17]:
df_real_stats.rename(columns = 
                    {'proj_season_id' : 'season_id'}, inplace = True)
df_proj_stats = pd.concat([player_info, df_proj], axis=1)
df_proj_stats.rename(columns = {'proj_season_id':'season_id',
                               'proj_pts': 'pts',
                                'proj_min':'min',
                                'proj_fgm':'fgm',
                                'proj_fga':'fga',
                                'proj_fg3m':'fg3m',
                                'proj_fg3a':'fg3a',
                                'proj_ftm':'ftm',
                                'proj_fta':'fta',
                                'proj_oreb':'oreb',
                                'proj_dreb':'dreb',
                                'proj_ast':'ast',
                                'proj_stl':'stl',
                                'proj_tov':'tov',
                               'proj_blk':'blk'}, inplace = True)

In [18]:
display(df_real_stats.head(5))

,player_id,player_name,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,920,A.C. Green,1996-97,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,0.7,2.1,0.7
1,243,Aaron McKie,1996-97,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,0.9,1.5,1.3
2,1425,Aaron Williams,1996-97,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4
3,768,Acie Earl,1996-97,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,0.6,1.0,0.3
4,228,Adam Keefe,1996-97,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.5,0.2

In [19]:
display(round(df_proj_stats,1).head(5))

,player_id,player_name,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,920,A.C. Green,1996-97,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7
1,243,Aaron McKie,1996-97,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0
2,1425,Aaron Williams,1996-97,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4
3,768,Acie Earl,1996-97,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1
4,228,Adam Keefe,1996-97,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1